@using MvcCvSayfam.Models.Entity
@model List<Hobilerim>
<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    @foreach (var a in Model)
    {
        <p>@a.Aciklama1.</p>
        <p class="mb-0">@a.Aciklama2.</p>
    }
</div>
